<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber Test Suite" parallel="tests" thread-count="3">
    <test name="Cucumber Tests">
        <parameter name="browser" value="firefox"/>
        <parameter name="environment" value="test"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
    <test name="Cucumber Tests1">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>
